@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media print {
  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Hide everything except .printable safely */
  body * {
    visibility: hidden;
  }
  
  .printable, .printable * {
    visibility: visible;
  }

  .printable {
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    zoom: 85%;
    /* border: 5px solid red; */ /* Uncomment for debugging */
  }
  .printable > .print-page:first-child {
    page-break-before: avoid !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .print\:hidden, .print\:hidden * {
    display: none !important;
  }
  .print-page:first-of-type {
    outline: 2px dashed red;
  }
  .print-page {
    page-break-after: always;
    break-inside: avoid;
    min-height: auto;
  }
  .print-page:last-of-type {
    page-break-after: auto;
  }
  tr.no-break, .no-break {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }

  table {
    page-break-inside: auto;
    break-inside: auto;
    width: 100%;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  @page {
    margin: 20mm;
    size: A4 portrait;
  }
}
